In [1]:
import matplotlib
import zipfile
import pandas as pd
import json
from tqdm import tqdm
from PIL import Image


DATA_PATH = "/Users/pranavsood/Documents/DDI/Gitlab/multi-modal-emotion/data/data/"

In [2]:
img_path = DATA_PATH + "img"
train_path = DATA_PATH + "train.jsonl"
val_path = DATA_PATH + "dev.jsonl"
test_path = DATA_PATH + "test.jsonl"

In [3]:
val_samples_frame = pd.read_json(val_path, lines=True)
print(val_samples_frame.shape)
val_samples_frame.head()

(500, 4)

,id,img,label,text
0,8291,img/08291.png,1,white people is this a shooting range
1,46971,img/46971.png,1,bravery at its finest
2,3745,img/03745.png,1,your order comes to $37.50 and your white priv...
3,83745,img/83745.png,1,it is time.. to send these parasites back to t...
4,80243,img/80243.png,1,mississippi wind chime

In [4]:
train_samples_frame = pd.read_json(train_path, lines=True)
print(train_samples_frame.shape)
train_samples_frame.head()

(8500, 4)

,id,img,label,text
0,42953,img/42953.png,0,its their character not their color that matters
1,23058,img/23058.png,0,don't be afraid to love again everyone is not ...
2,13894,img/13894.png,0,putting bows on your pet
3,37408,img/37408.png,0,i love everything and everybody! except for sq...
4,82403,img/82403.png,0,"everybody loves chocolate chip cookies, even h..."

In [5]:
test_samples_frame = pd.read_json(test_path, lines=True)
print(test_samples_frame.shape)
test_samples_frame.head()

(1000, 3)

      id            img                                         text
0  16395  img/16395.png                     handjobs sold seperately
1  37405  img/37405.png         introducing fidget spinner for women
2  94180  img/94180.png  happy pride month let's go beat up lesbians
3  54321  img/54321.png       laughs in [majority of u.s crime rate]
4  97015  img/97015.png       finds out those 72 virgins.. are goats

No need to get the images here, we can do this in a wrapper

In [6]:
# tqdm.pandas()

# train_samples_frame['image'] = train_samples_frame['img'].progress_apply(lambda x: Image.open("/Users/pranavsood/Documents/DDI/Gitlab/multi-modal-emotion/data/data/"+x).convert("RGB"))

# test_samples_frame['image'] = test_samples_frame['img'].progress_apply(lambda x: Image.open("/Users/pranavsood/Documents/DDI/Gitlab/multi-modal-emotion/data/data/"+x).convert("RGB"))

# val_samples_frame['image'] = val_samples_frame['img'].progress_apply(lambda x: Image.open("/Users/pranavsood/Documents/DDI/Gitlab/multi-modal-emotion/data/data/"+x).convert("RGB"))

In [18]:
val_samples_frame['split'] = "val"
train_samples_frame['split'] = "train"
test_samples_frame['split'] = "test"

In [19]:
df = pd.concat([val_samples_frame , train_samples_frame , test_samples_frame])
df = df.rename(columns={'img':"img_path"})
df = df.drop('id', axis=1) # now we only have text and

In [21]:
df.to_pickle(f"{DATA_PATH}HatefulMemes.pkl")

In [13]:
import pandas as pd
df = pd.read_pickle("../data/HatefulMemes.pkl")

In [15]:
df

,img_path,label,text,split
0,../../img/08291.png,1.0,white people is this a shooting range,val
1,../../img/46971.png,1.0,bravery at its finest,val
2,../../img/03745.png,1.0,your order comes to $37.50 and your white priv...,val
3,../../img/83745.png,1.0,it is time.. to send these parasites back to t...,val
4,../../img/80243.png,1.0,mississippi wind chime,val
...,...,...,...,...
995,../../img/03869.png,NaN,a mother's love for the child is a divine thing,test
996,../../img/23817.png,NaN,sea monkeys,test
997,../../img/56280.png,NaN,little miss muffet sat on her tuffet,test
998,../../img/29384.png,NaN,they're in a row,test
999,../../img/34127.png,NaN,that feeling when you win a fifa game after be...,test

In [20]:
df['img_path'] = df['img_path'].apply(lambda x: "../../data/"+x[6:])

In [21]:
df

,img_path,label,text,split
0,../../data/img/08291.png,1.0,white people is this a shooting range,val
1,../../data/img/46971.png,1.0,bravery at its finest,val
2,../../data/img/03745.png,1.0,your order comes to $37.50 and your white priv...,val
3,../../data/img/83745.png,1.0,it is time.. to send these parasites back to t...,val
4,../../data/img/80243.png,1.0,mississippi wind chime,val
...,...,...,...,...
995,../../data/img/03869.png,NaN,a mother's love for the child is a divine thing,test
996,../../data/img/23817.png,NaN,sea monkeys,test
997,../../data/img/56280.png,NaN,little miss muffet sat on her tuffet,test
998,../../data/img/29384.png,NaN,they're in a row,test
999,../../data/img/34127.png,NaN,that feeling when you win a fifa game after be...,test

In [22]:
df.to_pickle(f"../data/HatefulMemes.pkl")